<article class="post">
  <div class="title">
    <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
    <!--  code passes post.post_url as the argument to the format_url() function -->
    <span>({{post.post_url|format_url}})</span>
  </div>
  <div class="meta">
    <!-- format_plural() function differs a bit, because it needs two arguments -->
    <!-- first {{post.vote_count}} displays the number as is. But the second one uses the format_plural() filter, followed by a second argument of 'point', to return either "point" or "points" -->
    {{post.vote_count}} {{post.vote_count|format_plural('point')}} by {{post.user.username}} on {{post.created_at|format_date}}
    |
    <!-- might seem confusing because of the multiple pipe characters (|). The syntax post.comments|length is how Jinja prints the length of an array. The filter starts at the second pipe character -->
    <a href="/post/{{post.id}}">{{post.comments|length}} comment(s)</a>
  </div>
</article>